@font-face {
    font-family: "menu";
    src: url("../fonts/menu.ttf") format("truetype");
}

.menu-label {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #83c4aa !important; /* bright cyan */
    -fx-effect: dropshadow(gaussian, rgba(0, 50, 45, 0.6), 10, 0, 0, 2);
}

.title-label {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: #06847c;
    -fx-effect: dropshadow(gaussian, rgba(0, 50, 45, 0.6), 10, 0, 0, 2);
}

.subtitle-label { 
    -fx-font-size: 18px; 
    -fx-text-fill: #0a5c50; 
}

.menu-btn{
    -fx-background-color: transparent;
    -fx-text-fill: #07493b;
    -fx-font-family: menu;
    -fx-font-size: 18px;
    -fx-border-color: transparent;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 50, 45, 0.6), 5, 0, 0, 1);
    -fx-padding: 12 40 12 40;
    -fx-cursor: hand;
}

.menu-btn:hover, .menu-btn:focused, .menu-btn:armed{
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: linear-gradient(to right, #9dd78d, #5dad6b);
    -fx-border-color: #e2efa8;
    -fx-border-width: 2;
    -fx-text-fill: #073622;
}
.menu-selected{
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: linear-gradient(to right, #9dd78d, #5dad6b);
    -fx-border-color: #e2efa8;
    -fx-border-width: 2;
    -fx-text-fill: #073622;
}
.menu-left-overlay {
    -fx-background-color: rgba(0, 15, 8, 0.52);
}

.pokeball{
    -fx-pref-width:14px;
    -fx-pref-height:14px;
    -fx-background-radius: 50%;
    -fx-background-color: linear-gradient(to bottom, #ff2a2a 0%, #ff2a2a 48%, white 48%, white 100%);
    -fx-border-color: black;
    -fx-border-width: 1.2px;
    -fx-border-radius: 50%;
}