.menu-label {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #83c4aa !important; /* bright cyan */
    -fx-effect: dropshadow(gaussian, rgba(0, 50, 45, 0.6), 10, 0, 0, 2);
}

.title-label {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: #06847c;
    -fx-effect: dropshadow(gaussian, rgba(0, 50, 45, 0.6), 10, 0, 0, 2);
}

.subtitle-label { 
    -fx-font-size: 18px; 
    -fx-text-fill: #0a5c50; 
}

.menu-btn{
    -fx-background-color: transparent;
    -fx-text-fill: #87c2a9;
    -fx-font-family: "SPACE NOVA";
    -fx-font-size: 24px;
    -fx-border-color: transparent;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 50, 45, 0.6), 5, 0, 0, 1);
    -fx-padding: 12 40 12 40;
    -fx-cursor: hand;
}
    
.menu-selected{
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: linear-gradient(to right, #abdd9e, #4ba05b);
    -fx-border-color: #e2efa8;
    -fx-border-width: 2;
    -fx-text-fill: #07493b;
}

.menu-left-overlay {
    -fx-background-color: rgba(15, 39, 34, 0.5);
    -fx-background-radius: 0 24 24 0;
    -fx-border-radius: 0 24 24 0;
    -fx-border-color: rgba(206, 241, 185, 0.216);
    -fx-border-width: 0 1.5 0 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 24, 0, 24, 0);
}

.pokeball{
    -fx-pref-width:14px;
    -fx-pref-height:14px;
    -fx-background-radius: 50%;
    -fx-background-color: linear-gradient(to bottom, #ff2a2a 0%, #ff2a2a 48%, white 48%, white 100%);
    -fx-border-color: black;
    -fx-border-width: 1.2px;
    -fx-border-radius: 50%;
}
.menu-hovered {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: linear-gradient(to right, #9dd78d89, #5dad6c7c);
    -fx-border-color: #e2efa883;
    -fx-border-width: 2;
    -fx-text-fill: #176b1d;;
}

