.start-vignette {
    -fx-background-color:
        radial-gradient(center 50% 45%, radius 72%,
            transparent 40%,
            rgba(0, 0, 0, 0.1) 35%,
            rgba(0, 0, 0, 0.326) 80%),
        linear-gradient(from 0% 65% to 0% 100%,
            transparent,
            rgba(0, 0, 0, 0.384));
}

.start-button-section {
    -fx-padding: 0 0 5 0;
    -fx-alignment: CENTER;
}

.start-btn {
    -fx-cursor: hand;
    -fx-font-family: "Space Nova";
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #d4ede6;
    -fx-padding: 13 44 13 44;

    -fx-background-color:
        #000000,
        #8ecfba,
        #021a12,
        #0d3d28;

    -fx-background-insets:
        8    0      0      8,
        0    8      8      0,
        2    10     10     2,
        4    12     12     4;

    -fx-background-radius: 0, 0, 0, 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-effect: null;
}

.start-btn:hover {
    -fx-text-fill: #021a12;

    -fx-background-color:
        #000000,
        #e8f8f3,
        #021a12,
        #8ecfba;

    -fx-background-insets:
        8    0      0      8,
        0    8      8      0,
        2    10     10     2,
        4    12     12     4;

    -fx-effect: dropshadow(gaussian, rgba(142, 207, 186, 0.65), 18, 0.25, 0, 0);
}

.start-btn:pressed {
    -fx-text-fill: #e0f5ed;
    -fx-translate-x: 8;
    -fx-translate-y: 8;
    -fx-background-color:
        #021a12,
        #0d3d28;

    -fx-background-insets:
        0,
        2;

    -fx-background-radius: 0, 0;
    -fx-effect: null;
}